.page{
    
    background-color: white;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.page p{
   
    color:rgb(9, 9, 9) ;
}

.acom{
    display: 'flex';
    align-items: center;
}